MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/uniforma?retryWrites=true&w=majority
PORT=5000
# Netlify'ga joylagandan keyingi frontend manzilingiz, masalan:
# FRONTEND_URL=https://uniforma.netlify.app
FRONTEND_URL=
